KERNEL=="ttyUSB*", SUBSYSTEM=="tty", DRIVERS=="ftdi_sio", ATTRS{interface}=="BeagleBone*", ATTRS{bInterfaceNumber}=="01", MODE="0777", NAME="%k", SYMLINK+="beagleserial"
KERNEL=="ttyUSB*", SUBSYSTEM=="tty", DRIVERS=="ftdi_sio", ATTRS{interface}=="BeagleBone*", ATTRS{bInterfaceNumber}=="00", MODE="0777", NAME="%k", SYMLINK+="beaglejtag"
KERNEL=="sd*", SUBSYSTEM=="block", ATTRS{product}=="Mass Storage Gadget", NAME="%k", SYMLINK+="beaglestorage"
